td{
    width: 50px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-family: 굴림;
    border:2px;
    border-color:black;
    border-radius : 8px;/*모서리 둥글게*/
}
		
#yearMonth{
    width: 250px;
    text-align:center;
    font-size: 60px;
}
.sunday{
    text-decoration-color: red;

}
#mainbar{
    font-size: 40px;
    font-weight: bold;
}